<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= scriptAppName %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/oas-style.css">
  <link rel="stylesheet" href="styles/sb-admin-2.css">
  <link rel="stylesheet" href="styles/table-demo.css">
  <link rel="stylesheet" href="styles/timeline.css">
  <!-- endbuild -->
</head>
<body ng-app="<%= scriptAppName %>">
  <div ng-include="'views/menu.html'" ng-controller="menuCtrl"></div>
    <!--[if lte IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="container-fluid">
      <% if (ngRoute) {
        %><div ng-view></div><%
      } else {
        %><div ng-include="'views/main.html'" ng-controller="MainCtrl"></div><%
      } %>
    </div>
  <div ng-include="'views/footer.html'" ng-controller="footerCtrl"></div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
    !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
      (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
      r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
    }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->

  </body>
  <script src="scripts/services/token.js"></script>
  <script src="scripts/controllers/menu.js"></script>
  <script src="scripts/controllers/footer.js"></script>
  </html>
