<!doctype html>
<!--
  #set( $languages = ["de","en","es","fr","it","ja","ko","pl","pt","ru","tr"] )
  #if( !$languages.contains($locale) )
    #set( $locale = "en" )
  #end
-->
<html ng-app="<%= scriptAppName %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="${clientTopology.<%= simplename %>StaticsUrl}">
    <title><%= appname %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta name="robots" content="noindex, nofollow">

    <% if (!dashboardApp) { %><link rel="stylesheet" href="${clientTopology.staticBaseUrl}services/third-party/fonts/Helvetica/fontFace.css"><% } %>
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body>
    <% if (dashboardApp) { %>
    <div wix-top-menu="sites"></div>
    <div wix-dashboard-site-menu="${metaSiteId}"></div>
    <div wix-dashboard-app="dashboard">
      <!-- Add your site or application content here -->
      <div class="container" ng-include="wixPluginTopology.partialsUrl+'views/main.html'"></div>
    </div>
    <% } else { %>
    <!-- Add your site or application content here -->
    <div class="container" ng-include="clientConfig.partialsUrl+'views/main.html'"></div>
    <% } %>

    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <% if (!dashboardApp) { %><script src="bower_components/angular-translate/angular-translate.js"></script><% } %>
    <script src="bower_components/angular-i18n/angular-locale_${locale}.js"></script>
    <script src="scripts/locale/messages_${locale}.js"></script>

    <!-- build:js scripts/modules.js -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <!-- endbuild -->
    <% if (!dashboardApp) { %>
    <script>
      function fixOrigin(url) {
        return url.replace(/^(.*:\/\/+)?[^\/]*/, window.location.protocol + '//' + window.location.host);
      }
      angular.module('<%= scriptAppName %>').constant('clientConfig', {
        apiUrl: fixOrigin('/_api/<%= _.slugify(_.humanize(appname)) %>-webapp/'),
        staticsUrl: '${clientTopology.<%= simplename %>StaticsUrl}',
        partialsUrl: fixOrigin('${clientTopology.<%= simplename %>StaticsUrl}').replace('/services/', '/_partials/')
      });
    </script>
    <% } else { %>
    <script>
      angular.module('<%= scriptAppName %>').config(function (wixPluginTopologyProvider) {
        wixPluginTopologyProvider.setStaticsUrl('${clientTopology.<%= simplename %>StaticsUrl}');
      });
    </script>

    <!-- wix-dashboard-menu -->
    <script src="${clientTopology.publicUrl}create/my-account/framework.js"></script>
    <!-- end-wix-dashboard-menu -->
    <% } %>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '${googleAnalytics}');
      ga('send', 'pageview');
    </script>
  </body>
</html>
