<!doctype html>
<!--
  #set( $languages = ["de","en","es","fr","it","ja","ko","pl","pt","ru","tr"] )
  #if( !$languages.contains($locale) )
    #set( $locale = "en" )
  #end
-->
<html ng-app="<%= scriptAppName %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="${clientTopology.<%= simplename %>StaticsUrl}">
    <title><%= appname %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta name="robots" content="noindex, nofollow">

    <% if (!dashboardApp) { %><link rel="stylesheet" href="${clientTopology.staticBaseUrl}services/third-party/fonts/Helvetica/fontFace.css"><% } %>
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <script>
      /* jshint ignore:start */
      ENABLE_MOCKS = false;
    </script>
    <% if (dashboardApp) { %>#parse('views/my-account/embeds_head.vm')<% } %>
  </head>
  <body>
    <% if (dashboardApp) { %>
    #parse('views/my-account/embeds_body_top.vm')

    <wix-dashboard-site-menu dashboard-selected-item="dashboard"></wix-dashboard-site-menu>
    <div wix-dashboard-app>
      <!-- Add your site or application content here -->
      <div class="container" ng-include="'views/main.html'"></div>
    </div>
    <% } else { %>
    <!-- Add your site or application content here -->
    <div class="container" ng-include="'views/main.html'"></div>
    <% } %>

    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <% if (!dashboardApp) { %><script src="bower_components/angular-translate/angular-translate.js"></script><% } %>
    <script src="bower_components/angular-i18n/angular-locale_${locale}.js"></script>
    <script src="scripts/locale/messages_${locale}.js"></script>

    <!-- build:js scripts/modules.js -->
    <script src="bower_components/uri.js/src/URI.js"></script>
    <script src="bower_components/wix-angular/dist/wix-angular.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <!-- endbuild -->

    <!-- #if( false ) -->
    <!-- build:js(test) scripts/mocks.js -->
    <script src="mock/server-api.js"></script>
    <!-- endbuild -->
    <script>
      if (ENABLE_MOCKS) {
        document.write('<scr'+'ipt src="bower_components/angular-mocks/angular-mocks.js"></scr'+'ipt>');
        angular.module('<%= scriptAppName %>').requires.push('<%= scriptAppName %>Mocks');
      }
    </script>
    <!-- #end -->
    <% if (dashboardApp) { %>
    <!-- wix-dashboard-menu -->
    <script src="${clientTopology.publicUrl}my-account/framework.js?debug=${debug}"></script>
    <script>
      angular.module('wixDashboardFramework').config(function (wixDashboardProvider) {
        wixDashboardProvider.setStaticsUrl('${clientTopology.<%= simplename %>StaticsUrl}');
        wixDashboardProvider.setMetaSiteId('${metaSiteId}');
      });
    </script>
    <!-- end-wix-dashboard-menu -->

    <!-- #if( false ) -->
    <script>
      angular.module('wixDashboardFramework').config(function (wixDashboardFrameworkConfig) {
        wixDashboardFrameworkConfig.experiments = ${experiments};
      });
    </script>
    <!-- #end -->

    #parse('views/my-account/embeds_body_bottom.vm')
    <% } %>
  </body>
</html>
