.hero-unit{:"ng-controller" => "MainCtrl"}
  %h1 {{'general.YO' | translate}}
  %p You now have
  %ul
    %li{:"ng-repeat" => "thing in awesomeThings"} {{thing}}
  %p installed.
  %h3 Enjoy coding! - Yeoman
