<%
  var btnPrimary = btnDefault = formCtrl = firstCol = otherCols = '';
  if( bootstrap ) {
    btnPrimary = ' class="btn btn-primary"';
    btnDanger = ' class="btn btn-danger"';
    formCtrl = ' class="form-control"';
    if( hasPasswordProvider && hasOauthProviders ) {
      firstCol = ' class="{{user.provider === \'password\'? \'col-md-4\' : \'col-md-12\'}}"';
      otherCols = ' class="col-md-4" ng-show="{{user.provider === \'password\'}}"';
    }
    else if( hasPasswordProvider ) {
      firstCol = ' class="col-md-4"';
      otherCols = ' class="col-md-4"';
    }
    else {
      firstCol = ' class="col-md-12"';
    }
  }
%>
<div<% if( bootstrap ) { %> class="row-fluid"<% } %>>
<div<%= firstCol %>>
  <h3>Profile</h3>

  <form role="form">
    <p class="form-group">
      <label>Account ID</label>
      <br />{{user.uid}}
    </p>

    <p class="form-group">
      <label>Name:</label>
      <input type="text" name="name" ng-model="profile.name"<%= formCtrl %> />
    </p>

    <p class="form-group">
      <label>Email:</label>
      <input type="text" name="email" ng-model="profile.email"<%= formCtrl %> />
    </p>
  </form>

  <p>
    <button role="button" ng-click="logout()"<%= btnDanger %>>Log Out</button>
  </p>
</div>
<% if( hasPasswordProvider ) { %>
<div<%= otherCols %>>
<form role="form">
  <h3>Change Password</h3>

  <p class="form-group">
    <label>Old Password:</label>
    <input type="password" ng-keypress="clear()" ng-model="oldpass"<%= formCtrl %> />
  </p>

  <p class="form-group">
    <label>New Password:</label>
    <input type="password" ng-keypress="clear()" ng-model="newpass"<%= formCtrl %> />
  </p>

  <p class="form-group">
    <label>Confirm New Password:</label>
    <input type="password" ng-keypress="clear()" ng-model="confirm"<%= formCtrl %> />
  </p>

  <button<%= btnPrimary %> ng-click="changePassword(oldpass, newpass, confirm)">change password</button>

  <p class="error" ng-show="err">{{err}}</p>
  <p class="good" ng-show="msg">{{msg}}</p>
</form>
</div>

<div<%= otherCols %>>
<form>
  <h3>Change Email</h3>

  <p class="form-group">
    <label>New Email:</label>
    <input type="text" ng-keypress="clear()" ng-model="newEmail"<%= formCtrl %> />
  </p>

  <p class="form-group">
    <label>Password:</label>
    <input type="password" ng-keypress="clear()" ng-model="pass"<%= formCtrl %> />
  </p>

  <button<%= btnPrimary %> ng-click="changeEmail(pass, newEmail)">update email</button>

  <p class="error" ng-show="emailerr">{{emailerr}}</p>
  <p class="good" ng-show="emailmsg">{{emailmsg}}</p>
</form>
</div>
<% } %>
</div>
<% if( bootstrap ) { %><p class="clearfix"></p><% } %>
