
<h2>Login Page</h2>

<form>
  <label>
    <span>email</span>
    <input type="text" ng-model="email" />
  </label>
  <label>
    <span>password</span>
    <input type="password" ng-model="pass" />
  </label>
  <label ng-cloak ng-show="createMode">
    <span>confirm pass</span>
    <input type="password" ng-model="confirm" />
  </label>
  <button ng-click="login(email, pass)" ng-hide="createMode">Log In</button>
  <button ng-click="createMode = true" ng-hide="createMode">Register</button>
  <button ng-cloak ng-show="createMode" ng-click="createAccount(email, pass, confirm)">Create Account</button>
  <button ng-cloak ng-show="createMode" ng-click="createMode = false">Cancel</button>

  <p ng-show="err" class="error">{{err}}</p>
</form>

