<div class="container">
<h1 class="page-header">BIENVENIDO A GENERATOR-OAS </h1>
<p>
  Ahora puede comenzar con el desarrollo ...
</p>

  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>


</div>
