<div class="navbar-default sidebar" role="navigation">
    <ul class="nav" id="side-menu">
        <li>
            <a href="index.html"><i class="fa fa-dashboard fa-fw"></i>Inicio</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-wrench fa-fw"></i>Elementos
                Graficos<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="panels-wells.html">Paneles</a>
                </li>
                <li>
                    <a href="buttons.html">Botones</a>
                </li>
                <li>
                    <a href="notifications.html">Notificaciones</a>
                </li>
                <li>
                    <a href="typography.html">Tipografia</a>
                </li>
                <li>
                    <a href="icons.html">Iconos</a>
                </li>
                <li>
                    <a href="grid.html">Layouts y cuadriculas</a>
                </li>
            </ul><!-- /.nav-second-level -->
        </li>

        <!-- <li>
            <a href="#"><i class="fa fa-sitemap fa-fw"></i>Dropdown
                Multiples Niveles<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="#">Second Level Item</a>
                </li>
                <li>
                    <a href="#">Second Level Item</a>
                </li>
                <li>
                    <a href="#">Third Level <span class=
                                                          "fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li>
                            <a href="#">Third Level Item</a>
                        </li>
                        <li>
                            <a href="#">Third Level Item</a>
                        </li>
                        <li>
                            <a href="#">Third Level Item</a>
                        </li>
                        <li>
                            <a href="#">Third Level Item</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    -->
        <li>
            <a href="#"><i class="fa fa-files-o fa-fw"></i>Paginas
                de Ejemplo<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="blank.html">Pagina en Blanco</a>
                </li>
                <li>
                    <a href="login.html">Pagina de Login</a>
                </li>
            </ul><!-- /.nav-second-level -->
        </li>
        <li>
            <a href="#"><i class="fa fa-puzzle-piece fa-fw"></i>
                Componentes Angular<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="blank.html">Tablas</a>
                </li>
                <li>
                    <a href="login.html">Login Page</a>
                </li>
                <li>
                    <a href="forms.html">Formularios</a>
                </li>
                <li>
                    <a href="tables.html">Tablas Basicas</a>
                </li>
                <li>
                    <a href="tables-inline.html">Tablas Editables</a>
                </li>
                <li>
                    <a href="datepicker.html">Calendario</a>
                </li>
                <li>
                    <a href="progress-bars.html">Barras de Progreso</a>
                </li>
            </ul><!-- /.nav-second-level -->
        </li>
    </ul>
</div><!-- /.sidebar-collapse -->
